<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
       
    </head>
    <body>
      <script>
        //정해진 시간에 해당하는 차량들 수 표시하는 함수
        function showcarData() {
                  
                    const config = {
                    method: "post",
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify({
                    
                        _Date: $("#selectDay").val()})
                };
                fetch('/mainPage/tableDaytimeSelect2', config)

               
                .then(res => res.json())

                .then(data => {
                    const _car = document.querySelector('#car'); 
                    const _bicycle = document.querySelector('#bicycle'); 
                    const _motorcycle = document.querySelector('#motorcycle');
                    const _truck = document.querySelector('#truck');
                    _car.innerText = "승용차".padEnd(15)+" : "+data[0]["sum(n_car)"]+" 대"
                    _bicycle.innerText = "자전거".padEnd(15)+" : "+data[0]['sum(n_bicycle)']+" 대"
                    _motorcycle.innerText = "오토바이"+" : "+data[0]['sum(n_motorcycle)']+" 대"
                    _truck.innerText = "트럭".padEnd(15)+" :"+data[0]['sum(n_truck)']+" 대"
                // $('#car').text("승용차".padStart(3)+":"+data[0]["sum(n_car)"]+"대");
                // $('#bicycle').text("자전거:    "+data[0]['sum(n_bicycle)']+"대");
                // $('#motorcycle').text("오토바이: "+data[0]['sum(n_motorcycle)']+"대");
                // $('#truck').text("트럭:    "+data[0]['sum(n_truck)']+"대");
               // $('#showTotalCar').text(data[0]['sum(n_truck)']+data[0]["sum(n_car)"]+data[0]['sum(n_bicycle)']+data[0]['sum(n_motorcycle)']);                   
                })
                .catch(error => console.log(error))

    
        }
        // function createImg(src, name, i) {
        // // var div = document.createElement('div');
        // // div.id = 'div'+i;
        // // div.innerText = name;
        // // document.getElementById('#showimg').appendChild(div);
        // // // 줄바꿈
        // // var br = document.createElement('br');
        // // document.getElementById('div'+i).appendChild(br);
        // // 이미지
        // var img = document.querySelector('#showimg');
        // img.src = src;
        // img.alt = name;
        // img.title = name;
        // document.getElementById('#showimg2'+i).appendChild(img);
        //  }   
        //시간에 따른 이미지 표시
        function showimg(){

        }
        //정해진 시간에 해당하는 차트 그려주는 함수
        function showDayTable() {

            const config = {
                method: "post",
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({
                   
                    _Date: $("#selectDay").val()})
            };
            fetch('/mainPage/tableDaytimeSelect', config)
            .then(res => res.json())
            .then(json => {
                $(function () {
                $(document).ready(function() {
                    Highcharts.setOptions({
                        global: {
                            useUTC: false
                        }
                    });
                });
                var chart;
                //시작시간 받아오는 함수
                var getDay = function() {
                    var data = [];
                        for (i=0; i < json.length; i++) {
                                data.push(
                                    json[i].date_time
                                );
                            }
                            console.log(data);
                            return data;
                };
                //차트 각종 설정
                $('#container').highcharts({
                    chart: {
                        type: 'spline'

                    },
                    title: {
                        text: 'DATA GRAPH',
                        x: -20
                    },
                    xAxis: {
                        type: 'datetime',
                        categories:getDay(),
                    },
                    yAxis: [{
                        title: {
                            text: 'People'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    },
                    {
                        title: {
                            text: 'Vehicle'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    }],
                    tooltip: {
                        formatter: function() {
                                return '<b>'+ this.series.name +'</b><br/>'+
                                Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) +'<br/>'+
                                Highcharts.numberFormat(this.y, 2);
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    exporting: {
                        enabled: false
                    },
                    series: [{
                        name: 'People data',
                        data: (function() {
                            // generate an array of random data
                            var data =[];
                            for (i=0; i < json.length; i++) {
                                data.push(
                                json[i].n_person
                            );
                            }
                            console.log(data);
                            return data;
                        })()
                    },
                    {
                        name: 'Vehicle data',
                        data: (function() {
                            // generate an array of random data
                            var data = [];
                        for (i=0; i < json.length; i++) {
                                data.push(
                                    (json[i].n_car+json[i].n_truck+json[i].n_bus+json[i].n_bicycle+json[i].n_motorcycle+json[i].n_electric_scooter)
                                );
                            }
                            return data;
                        })()
                    }]
                });
            })
            })
            .catch(error => console.log(error))
          }
           //정해진 시간에 해당하는 차량들의 속도 표시해주는 함수 --> 데이터 들어오면 할 것
          function showcarSpeed(){
        //     const config = {
        //             method: "post",
        //             headers: {'Content-Type': 'application/json'},
        //             body: JSON.stringify({
                    
        //                 _Date: $("#selectDay").val()})
        //         };
        //         fetch('/mainPage/carSpeed', config)
        //         .then(res => res.json())
               
        //             .then(data => {
        //                 console.log(data);
                        
        //         })
        //         .catch(error => console.log(error))
            $('#showCarSpeed').text('속도 데이터 들어오면 넣을거야'); 
            $('#eachspeed').text('이거슬도 속도데이터 들어오면 넣을래~~'); 
            $('#carStayandRoot').text('정차,주차 유무,경로는 얘기해봐야할 거 같앙~.~'); 
          }
           //정해진 시간에 해당하는 사람들 수 표시하는 함수
          function showperson(){
            const config = {
                    method: "post",
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify({
                    
                        _Date: $("#selectDay").val()})
                };
                fetch('/mainPage/showpperson', config)

               
                .then(res => res.json())

                .then(data => {
                    console.log(data);

                    $('#personpeople').text("사람: "+data[0]['sum(n_person)']+"명");                   
                })
                .catch(error => console.log(error))

          }
          $(function() {
            $(document).on("click", "#daySelectBtn", function(){
                        showDayTable(),
                        showimg(),
                        showcarData(),
                        showcarSpeed(),
                        showperson();
                });
            });
         
        
        // function btnDayCallback(){
        //   $('#showCarSpeed').empty();
        //   $('#eachspeed').empty();
        //   $('#carStayandRoot').empty();
        //   $('#showTotalCar').empty();
        //   $('#personpeople').empty();
        //   $("#container").empty();
        //   $("#container1").empty();
              
        // }
        
       
      </script>
    </body>

</html>

