<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
       
    </head>
    <body>
      <script>
        //정해진 시간에 해당하는 차량들 수 표시하는 함수
        function showcarData() {
                  
                    const config = {
                    method: "post",
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify({
                    
                        _Date: $("#selectDay").val()})
                };
                fetch('/mainPage/tableDaytimeSelect2', config)

               
                .then(res => res.json())

                .then(data => {

                    const _car = document.querySelector('#car'); 
                    const _bicycle = document.querySelector('#bicycle'); 
                    const _motorcycle = document.querySelector('#motorcycle');
                    const _truck = document.querySelector('#truck');
                   // $('#car').text( "승용차"+":".padEnd(8-(data[0]["sum(n_car)"]).toString().length)+"8대");
                    
                    _car.innerText =data[0]["sum(n_car)"]+"대"
                    _bicycle.innerHTML =data[0]["sum(n_bicycle)"]+"대"
                    _motorcycle.innerText =data[0]["sum(n_motorcycle)"]+"대"
                    _truck.innerText =data[0]["sum(n_truck)"]+"대"
                                 
                })
                .catch(error => console.log(error))

    
        }
        // function createImg(src, name, i) {
        // // var div = document.createElement('div');
        // // div.id = 'div'+i;
        // // div.innerText = name;
        // // document.getElementById('#showimg').appendChild(div);
        // // // 줄바꿈
        // // var br = document.createElement('br');
        // // document.getElementById('div'+i).appendChild(br);
        // // 이미지
        // var img = document.querySelector('#showimg');
        // img.src = src;
        // img.alt = name;
        // img.title = name;
        // document.getElementById('#showimg2'+i).appendChild(img);
        //  }   
        //시간에 따른 이미지 표시
        function showimg(){

        }
        //정해진 시간에 해당하는 차트 그려주는 함수
        function showDayTable() {

            const config = {
                method: "post",
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({
                   
                    _Date: $("#selectDay").val()})
            };
            fetch('/mainPage/tableDaytimeSelect', config)
            .then(res => res.json())
            .then(json => {
                if(json.errno==1525)
                {
                    alert("날짜를 다시 입력해주세요.");
                }
                $(function () {
                $(document).ready(function() {
                    Highcharts.setOptions({
                        global: {
                            useUTC: false
                        }
                    });
                });
                var chart;
                //시작시간 받아오는 함수
                var getDay = function() {
                    var data = [];
                        for (i=0; i < json.length; i++) {
                                data.push(
                                    json[i].date_time
                                );
                            }
                            console.log(data);
                            return data;
                };
                //차트 각종 설정
                $('#container').highcharts({
                    chart: {
                        type: 'spline'

                    },
                    title: {
                        text: 'DATA GRAPH',
                        x: -20
                    },
                    xAxis: {
                        type: 'datetime',
                        categories:getDay(),
                    },
                    yAxis: [{
                        title: {
                            text: 'People'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    },
                    {
                        title: {
                            text: 'Vehicle'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    }],
                    tooltip: {
                        formatter: function() {
                                return '<b>'+ this.series.name +'</b><br/>'+
                                Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) +'<br/>'+
                                Highcharts.numberFormat(this.y, 2);
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    exporting: {
                        enabled: false
                    },
                    series: [{
                        name: 'People data',
                        data: (function() {
                            // generate an array of random data
                            var data =[];
                            for (i=0; i < json.length; i++) {
                                data.push(
                                json[i].n_person
                            );
                            }
                            console.log(data);
                            return data;
                        })()
                    },
                    {
                        name: 'Vehicle data',
                        data: (function() {
                            // generate an array of random data
                            var data = [];
                        for (i=0; i < json.length; i++) {
                                data.push(
                                    (json[i].n_car+json[i].n_truck+json[i].n_bus+json[i].n_bicycle+json[i].n_motorcycle+json[i].n_electric_scooter)
                                );
                            }
                            return data;
                        })()
                    }]
                });
            })
            })
            .catch(error => console.log(error))
          }
           //정해진 시간에 해당하는 차량들의 속도 표시해주는 함수 --> 데이터 들어오면 할 것
          function showcarSpeed(){
        //     const config = {
        //             method: "post",
        //             headers: {'Content-Type': 'application/json'},
        //             body: JSON.stringify({
                    
        //                 _Date: $("#selectDay").val()})
        //         };
        //         fetch('/mainPage/carSpeed', config)
        //         .then(res => res.json())
               
        //             .then(data => {
        //                 console.log(data);
                        
        //         })
        //         .catch(error => console.log(error))
            $('#showCarSpeed').text('속도 데이터 들어오면 넣을거야'); 
            $('#eachspeed').text('이거슬도 속도데이터 들어오면 넣을래~~'); 
            $('#carStayandRoot').text('정차,주차 유무,경로는 얘기해봐야할 거 같앙~.~'); 
          }
           //정해진 시간에 해당하는 사람들 수 표시하는 함수
          function showperson(){
            
            const config = {
                    method: "post",
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify({
                    
                        _Date: $("#selectDay").val()})
                };
                fetch('/mainPage/showpperson', config)

               
                .then(res => res.json())

                .then(data => {
                    console.log(data);

                    $('#personpeople').text("사람: "+data[0]['sum(n_person)']+"명");                   
                })
                .catch(error => console.log(error))

          }
          function showChart(){  
            $('#carchart').empty();
              const config = {
              method: "post",
              headers: {'Content-Type': 'application/json'},
              body: JSON.stringify({
                _Date: $("#selectDay").val()})
                 };
          fetch('/mainPage/carData1', config)
            .then(res => res.json())
            .then(data => {
             
              console.log(data);
            // generate an array of random data
            var data1 = [];
            
           
                data1.push(
                    ['car',data[0]['sum(n_car)']],
                    ['bicycle',data[0]['sum(n_bicycle)']],
                    ['motorcycle',data[0]['sum(n_motorcycle)']],
                    ['truck',data[0]['sum(n_truck)']]
                );
            var TotalVehicle=data[0]['sum(n_car)']+data[0]['sum(n_bicycle)']+data[0]['sum(n_motorcycle)']+data[0]['sum(n_truck)'];
            
            console.log(TotalVehicle);
            anychart.onDocumentReady(function () {
            var data = anychart.data.set(data1);
            var chart = anychart.pie(data);
            console.log(chart);
           
            // set the chart radius making a donut chart
            chart
        .innerRadius('65%')
        // set value for the exploded slices
        .explode(25);
            // create a color palette
            var palette = anychart.palettes.distinctColors();
            
            // set the colors according to the brands
            palette.items([
                { color: '#1dd05d' },
                { color: '#00a3da' },
                { color: '#156ef2' },
                { color: '#f60000' },
                // { color: '#96a6a6' }
            ]);
            
            
            // apply the donut chart color palette
            chart.palette(palette);
           
           
            // set the position of labels
            chart.labels().format('{%x} : {%y}대').fontSize(13);
            chart.labels().fontColor('#000000');
            
            // disable the legen
            chart.legend(false);
            
            // format the donut chart tooltip
            chart.tooltip().format('{%x}: {%PercentValue}%');
            // create a standalone label
            var label = anychart.standalones.label();
            // // configure the label settings
            label
                .useHtml(true)
                .text( TotalVehicle)
                .position('center')
                .anchor('center')
                .hAlign('center')
                .vAlign('middle')
            
            // // set the label as the center content
           
            chart.center().content(label);
            
            // set container id for the chart
            chart.container('carchart');
            
            // initiate chart drawing
            chart.draw();
           
        })
         })
            .catch(error => console.log(error))
        
        }
          $(function() {
            $(document).on("click", "#daySelectBtn", function(){
                        showDayTable(),
                        showimg(),
                        showcarData(),
                        showcarSpeed(),
                        showperson();
                        showChart();
                });
            });
         
        
        // function btnDayCallback(){
        //   $('#showCarSpeed').empty();
        //   $('#eachspeed').empty();
        //   $('#carStayandRoot').empty();
        //   $('#showTotalCar').empty();
        //   $('#personpeople').empty();
        //   $("#container").empty();
        //   $("#container1").empty();
              
        // }
        
       
      </script>
    </body>

</html>

