<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>

      <!-- <script type="text/javascript">
        var port = JSON.parse('<%- JSON.stringify(port) %>');
         console.log(port);
         var socket = io.connect("http://localhost:" + port);
         socket.on('refreshData', function(data) {
             console.log(data);
             refreshData();
         })
      </script> -->

      <script>

        // var job = schedule.scheduleJob('* * * * *', function(){
        //   console.log("refresh check!");
        //   refreshData();
        // }

        //데이터 새고로침
        function refreshData() {
              console.log("refreshed!", data);
              $('#rtPeopleNum').text(data.n_person);
              $('#rtCarNum').text(data.n_car);
              $('#rtBicycleNum').text(data.n_bicycle);
              $('#rtTruckNum').text(data.n_truck);
              $('#rtMotocycleNum').text(data.n_motorcycle);
              $('#rtElectricNum').text(data.n_electric_scooter);
              let sum=data.n_person+data.n_car+data.n_bicycle+data.n_truck+ data.n_motorcycle+data.n_electric_scooter;
              $('#sum').text(sum);
            }
      </script>
    </body>
