<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>main page</title>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
        <script src="http://code.highcharts.com/modules/exporting.js"></script>
       <script src="https://cdn.socket.io/3.1.3/socket.io.min.js"></script>

        <%-include('part/daily.ejs')%>
        <%-include('part/period.ejs')%>
        <style>
            img {
                max-width: 40px;
                height: auto;
            }
            #header {
                text-align: center;
                background-color: #767676;
            }
            #section {
                margin: 10px;
            }
            #realTimeData > div > p {
                margin: 0;
            }
            .carData > div > div > div > div{
                display:inline-block;
            }
            .carData > div > img,
            .carData > div > p {
                display:inline-block;
            }
            body > div > div > div > button {
                width:100px;
                background-color: #3A6EAE;
                border-radius:15px 15px 0px 0px;
                border: none;
                color:#fff;
                padding: 10px 0;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 15px;
                margin: 0;
                cursor: pointer;
            }
        </style>
               <script>
                var port = JSON.parse('<%- JSON.stringify(port) %>');
                console.log(port);
                var socket = io.connect("http://localhost:" + port);
                socket.on('outlierData', function(data) {
                    console.log(data);
                    notify(data.id, data.msg);
                })
            </script>
    
            <script>
                Notification.requestPermission();
                function notify(id, msg) {
                    if (Notification.permission !== "denied") {
                        new Notification("id="+id + ": " + msg);
                    }
                    else if (Notification.permission === "denied") {
                        Notification.requestPermission();
                    }
                }
            </script>
        <script>
            function btnDayCallback() {

                const clickedStyle = "text-decoration: underline #CC9F3C 3px; text-underline-position: under;";
                const nonClickedStyle = "background-color: #999999;";
                const day = document.getElementsByClassName("btnDay");
                const period = document.getElementsByClassName("btnPeriod");
                document.getElementById("showPeriodData").style.display = "none";
                document.getElementById("showDayData").style.display = "inline-block";
                for (var i = 0; i < 2; i++) {
                    day[i].style = clickedStyle;
                    period[i].style = nonClickedStyle;
                }
            }
            function btnPeriodCallback() {

                const clickedStyle = "text-decoration: underline #CC9F3C 3px; text-underline-position: under;";
                const nonClickedStyle = "background-color: #999999;";
                const day = document.getElementsByClassName("btnDay");
                const period = document.getElementsByClassName("btnPeriod");
                document.getElementById("showPeriodData").style.display = "inline-block";
                document.getElementById("showDayData").style.display = "none";
                for (var i = 0; i < 2; i++) {
                    day[i].style = nonClickedStyle;
                    period[i].style = clickedStyle;
                }
            }

            //socket
            var port = JSON.parse('<%- JSON.stringify(port) %>');
            console.log(port);
            var socket = io.connect("http://localhost:" + port);
            socket.on('outlierData', function(data) {
              console.log(data);
              notify(data.id, data.msg);
            })

            //Noti
            Notification.requestPermission();
            function notify(id, msg) {
              if (Notification.permission !== "denied") {
                new Notification("id="+id + ": " + msg);
              }
              else if (Notification.permission === "denied") {
                Notification.requestPermission();
              }
            }

        </script>
    </head>
    <body>
        <div id="header">
            <img src="/images/camera.png">
            <h2 style="color:#fff; margin: 0;">CCTV 모니터링 시스템</h2>
            <div style="text-align: right;">
                <img src="/images/logo.png">
            </div>
        </div>
        <div id="section" style="text-align: center;">
            <div id="realTimeData" style="display:inline-block; width:8%;">
                <p style="text-align: center">실시간 데이터</p>
                <div id="showRTData" style="border:1px solid; text-align: center;">
                    <img src="/images/people.png" alt="people image"><br>
                    <p id="rtPeopleNum">1</p>
                    <img src="/images/car.png"><br>
                    <p id="rtPeopleNum">1</p>
                    <img src="/images/bicycle.png"><br>
                    <p id="rtPeopleNum">1</p>
                    <img src="/images/truck.png"><br>
                    <p id="rtPeopleNum">1</p>
                    <p style="text-align: center">합계: ~~~대</p>
                </div>
            </div>
            <div id="showDayData" style="display:inline-block; vertical-align:top; width:91%">
                <div>
                    <button class="btnDay" onclick="btnDayCallback()" style="text-decoration: underline #CC9F3C 3px; text-underline-position: under;">일간통계</button>
                    <button class="btnPeriod" onclick="btnPeriodCallback()" style="background-color: #999999;">주간통계</button>
                </div>
                <div style="border:10px #3A6EAE solid; background-color: #3A6EAE; padding:10px; display:inline-block;">
                    <form class="setPeriod" style="background-color: #fff; border-radius:5px; padding: 5px; margin: 5px;">
                        <input type="date"  id='selectDay' style="vertical-align: middle; margin: 3px 10px;">
                        <button type='button' id='daySelectBtn'> Submit </button>
                    </form>
                    <div style="background-color: #fff; border-radius:5px; padding: 5px; margin: 5px;">
                        <div id="container"
                                style="min-width: 400px; height: 600px; margin: 0 auto; display:inline-block;">
                        </div>
                        <div style="display:inline-block;">
                            <p>차량 DATA</p>
                            <div class="carData" style="border:1px solid; border-radius: 5px; padding: 5px;">
                                <div>
                                    원형 그래프
                                    <div style="display:inline-block;">
                                        <p id="car">승용차:  ~~대</p>
                                        <p id="bicycle">자전거:  ~~대</p>
                                        <p id="motorcycle">오토바이: ~~대</p>
                                        <p id="truck">트럭:    ~~대</p>
                                    </div>
                                    <div style="text-align: center; display:inline-block;">
                                        <img src="/images/speedometer.png">
                                        <p>평균속도: ~~km/h</p>
                                        <div>
                                            <div>
                                                <img src="/images/car.png">
                                                <p>~~</p>
                                            </div>
                                            <div>
                                                <img src="/images/bicycle.png">
                                                <p>~~</p>
                                            </div>
                                            <div>
                                                <img src="/images/motorcycle.png">
                                                <p>~~</p>
                                            </div>
                                            <div>
                                                <img src="/images/truck.png">
                                                <p>~~</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <img src="/images/parking.png">
                                    <p>주차: ~~대</p>
                                    <p>정차: ~~대</p>
                                    <img src="/images/turn-left.png">
                                    <p>~~회</p>
                                    <img src="/images/turn-left.png" style="-moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1);">
                                    <p>~~회</p>
                                    <img src="/images/straight-ahead.png">
                                    <p>~~회</p>
                                </div>
                            </div>
                            <p>사람 DATA</p>
                            <div class="peopleData" style="border:1px solid; border-radius: 5px; padding: 5px;">
                                <div style="display: inline-block">
                                    <p>건물출입관리</p>
                                    <div style="display: inline-block">
                                        <img src="/images/court-house.png">
                                        <p>27호관</p>
                                        <p>출: ~</p>
                                        <p>입: ~</p>
                                    </div>
                                    <div style="display: inline-block">
                                        <img src="/images/parking.png">
                                        <p>주차장</p>
                                        <p>출: ~</p>
                                        <p>입: ~</p>
                                    </div>
                                    <div style="display: inline-block">
                                        <img src="/images/flask.png">
                                        <p>9호관</p>
                                        <p>출: ~</p>
                                        <p>입: ~</p>
                                    </div>
                                </div>
                                <div style="display: inline-block">
                                    <p>이동경로</p>
                                    <br>
                                    <p>ROOT A : ~회</p>
                                    <p>ROOT B : ~회</p>
                                    <p>ROOT C : ~회</p>
                                    <p>ROOT D : ~회</p>
                                </div>
                                <div style="display: inline-block; text-align: center;">
                                    <img src="/images/walkway.png">
                                    <p id="personpeople">사람: ~~명</p>
                                    <p>평균 속도:~km/h</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="showPeriodData" style="display:none; vertical-align:top; width:91%;">
                <div>
                    <button class="btnDay" onclick="btnDayCallback()" style="text-decoration: underline #CC9F3C 3px; text-underline-position: under;">일간통계</button>
                    <button class="btnPeriod" onclick="btnPeriodCallback()" style="background-color: #999999;">주간통계</button>
                </div>
                <div style="border:10px #3A6EAE solid; background-color: #3A6EAE; padding:10px; display:inline-block;">
                    <form class="setPeriod" style="background-color: #fff; border-radius:5px; padding: 5px; margin: 5px;">
                        <input type="datetime-local" id='selectStartDate' style="vertical-align: middle; margin: 3px 10px;" ~ >
                        <input type="datetime-local" id='selectEndDate' style="vertical-align: middle; margin: 3px 10px;">
                        <button type='button' id='dateSelectBtn'> Submit </button>
                    </form>
                    <div style="background-color: #fff; border-radius:5px; padding: 5px; margin: 5px;">
                        <div id="dayGraph" style="display:inline-block; padding: 5px;">
                            <div id="container0"
                                    style="min-width: 400px; height: 300px; margin: 0 auto">
                            </div>
                            <div id="container1"
                                    style="min-width: 400px; height: 300px; margin: 0 auto">
                            </div>
                        </div>
                        <div style="display:inline-block;">
                            <p>차량 DATA</p>
                            <div class="carData" style="border:1px solid; border-radius: 5px; padding: 5px;">
                                <div>
                                    원형그래프
                                    <div style="display:inline-block;">
                                        <p id="car1">승용차:  ~~대</p>
                                        <p id="bicycle1">자전거:  ~~대</p>
                                        <p id="motorcycle1">오토바이: ~~대</p>
                                        <p id="truck1">트럭:    ~~대</p>
                                    </div>
                                    <div style="text-align: center; display:inline-block;">
                                        <img src="/images/speedometer.png">
                                        <p>평균속도: ~~km/h</p>
                                        <div>
                                            <div>
                                                <img src="/images/car.png">
                                                <p>~~</p>
                                            </div>
                                            <div>
                                                <img src="/images/bicycle.png">
                                                <p>~~</p>
                                            </div>
                                            <div>
                                                <img src="/images/motorcycle.png">
                                                <p>~~</p>
                                            </div>
                                            <div>
                                                <img src="/images/truck.png">
                                                <p>~~</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <img src="/images/parking.png">
                                    <p>주차: ~~대</p>
                                    <p>정차: ~~대</p>
                                    <img src="/images/turn-left.png">
                                    <p>~~회</p>
                                    <img src="/images/turn-left.png" style="-moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1);">
                                    <p>~~회</p>
                                    <img src="/images/straight-ahead.png">
                                    <p>~~회</p>
                                </div>
                            </div>
                            <p>사람 DATA</p>
                            <div class="peopleData" style="border:1px solid; border-radius: 5px; padding: 5px;">
                                <div style="display: inline-block">
                                    <p>건물출입관리</p>
                                    <div style="display: inline-block">
                                        <img src="/images/court-house.png">
                                        <p>27호관</p>
                                        <p>출: ~</p>
                                        <p>입: ~</p>
                                    </div>
                                    <div style="display: inline-block">
                                        <img src="/images/parking.png">
                                        <p>주차장</p>
                                        <p>출: ~</p>
                                        <p>입: ~</p>
                                    </div>
                                    <div style="display: inline-block">
                                        <img src="/images/flask.png">
                                        <p>9호관</p>
                                        <p>출: ~</p>
                                        <p>입: ~</p>
                                    </div>
                                </div>
                                <div style="display: inline-block">
                                    <p>이동경로</p>
                                    <br>
                                    <p>ROOT A : ~회</p>
                                    <p>ROOT B : ~회</p>
                                    <p>ROOT C : ~회</p>
                                    <p>ROOT D : ~회</p>
                                </div>
                                <div style="display: inline-block; text-align: center;">
                                    <img src="/images/walkway.png">
                                    <p id="personpeople1">사람: ~~명</p>
                                    <p>평균 속도:~km/h</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
