<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login Page</title>
    </head>
    <body>
        <h1>Login Page</h1>
        <form method="post" action="/login">
            아이디 : <input type="text" name="userId"/><br/>
            비밀번호 : <input type="password" name="userPw"/><br/>
            <input type="submit" value="로그인" />
        </form>
    </body>
</html>
